html {
  background-attachment: fixed;
  background-clip: border-box;
  background: url(../images/arch_linux.png) no-repeat center center fixed;
  background-color: transparent;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 1016.6666666666666px;
}
#taskbar {
  position: fixed;
  width: 90%;
  min-width: 915px;
  margin: 0 5%;
  bottom: 0;
  background-color: #d2b48c;
  border-radius: 15px;
}
#taskbar .menugroup.level1 {
  line-height: 32px;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}
#taskbar .menugroup.level1 .itemlevel1.item4 {
  float: right;
}
#taskbar .menugroup.level1 > div {
  float: left;
  width: 200px;
  display: block;
}
#taskbar .menugroup.level1 > div .label {
  cursor: default;
  color: #8b4513;
  opacity: inherit;
  font-weight: bold;
}
#taskbar .menugroup.level1 > div .label a {
  visibility: hidden;
}
#taskbar .menugroup.level1 > div .level2 {
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  left: auto;
  bottom: 32px;
  margin: 0;
}
#taskbar .menugroup.level1 > div .level2 .itemlevel2:hover {
  width: auto;
  white-space: normal;
  background-color: #8b4513;
  margin-bottom: 5px;
  font-size: 18px;
  border-radius: 15px;
}
#taskbar .menugroup.level1 > div .level2 .itemlevel2 a {
  text-decoration: none;
  color: #9acd32;
  font-weight: bold ;
}
#taskbar .menugroup.level1 > div .level2 > div {
  opacity: inherit;
  color: inherit;
}
#taskbar .menugroup.level1 .itemlevel1:hover .level2 {
  display: block;
}
#taskbar .menugroup .level2 {
  display: none;
  position: absolute;
  text-align: center;
  width: 200px;
  left: 0px;
  display: none;
  bottom: -32px;
}
#window .label {
  position: fixed;
  width: 90%;
  min-width: 915px;
  margin: 0 5%;
  background: #d2b48c;
  border: solid 1px none;
  line-height: 20px;
  border-radius: 13px 13px 1px 1px;
  font-weight: bold;
  color: #8b4513;
  top: 5px;
}
#window .label .down {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: brown;
  cursor: pointer;
}
#window .label span {
  padding-left: 15px;
}
#window .body {
  position: fixed;
  width: 90%;
  min-width: 915px;
  margin: 0 5%;
  top: 25px;
  bottom: 38px;
  text-align: center;
  background-color: rgba(220, 218, 213, 0.3);
  overflow: auto;
  border-radius: 1px 1px 15px 15px;
}
#window .body > * {
  padding: 0 12px;
}
#window .body h1 {
  font-size: 1.5em;
  color: #79a004;
  margin: 0;
  padding-top: 10px;
  text-align: justify;
}
#window .body p {
  text-indent: 50px ;
  text-align: justify;
}
#window .body ul {
  list-style-position: inside;
}
#window .body li {
  list-style-position: outside;
  text-align: justify;
}
#window .body ul li:before {
  content: "# ";
  line-height: 20px;
}
#window .body ul li {
  list-style-type: none;
}
#window .body ul li p {
  width: 400px;
  margin-top: -20px;
  margin-left: 20px;
  white-space: nowrap;
}
#window .body a {
  text-decoration: none;
}
#window .body .jScrollbar {
  width: 97%;
  height: 100%;
  overflow: hidden;
  background: none;
}
#window .body .jScrollbar .jScrollbar_mask {
  float: left;
  position: relative;
  width: 96%;
}
#window .body .jScrollbar .jScrollbar_draggable {
  float: left;
  height: 100%;
  background: none;
  overflow: hidden;
  position: relative;
  width: 13px;
  top: 3px;
  margin-left: 18px;
}
#window .body .jScrollbar .jScrollbar_draggable a.draggable {
  position: relative;
  background: transparent url('../images/bg_draggable4.png') no-repeat;
  display: block;
  height: 58px;
  width: 13px;
  cursor: default;
}
