#window{
    .label{
        .centering();
        background : @color1 ;
        border : solid 1px none;
        line-height : @title-bar;
        border-radius : 13px 13px 1px 1px;
        font-weight : bold;
        color : @color2;
        top : 5px;

        .down{
            float : right;
            margin-right : 20px;
            text-decoration : none;
            color : brown;
        }

        span{
            padding-left : 15px;
        }
    }

    .body{
        .centering();
        top : @title-bar + 5px;
        bottom : @footer-bar + 6px;
        text-align : center;
        background-color : @color4;
        overflow : auto;
        border-radius : 1px 1px 15px 15px;

        > *{
            padding : 0 15px;
        }

        h1{
            font-size: 1.5em;
            color: @color3;
            margin : 0;
            padding-top : 10px;
            text-align : justify;
        }

        p{
            text-indent : 50px ;
            text-align : justify;
        }

        ul{
            list-style-position : inside;
        }

        li{
            list-style-position : outside;
            text-align : justify;
        }

        ul li:before{
            content: "# ";
        }

        ul li{
            list-style-type : none;

            p{
                text-indent : 0px;
                width : 400px;
                margin-top : -20px;
                margin-left : 20px;
            }
        }

        a{
            text-decoration : none;
        }

        .scrollbar{
                float:left;
                width:13px;
                height:209px;
                overflow:hidden;
                background:none;
                background:transparent url('../images/bg_slider4.png') no-repeat;
                margin-left:23px;
                position:relative

                a.draggable {
                    position:relative;
                    background:transparent url('../images/bg_draggable4.png') no-repeat;
                    display:block;
                    height:58px;
                    width:13px;
                    margin-left:0;
                    cursor:s-resize
                }
            }
        }
    }
