#window{
    .label{
        .centering();
        background: @color1 ;
        border: solid 1px none;
        line-height: @title-bar;
        border-radius: 13px 13px 1px 1px;
        font-weight: bold;
        color: @color2;
        top: 5px;

        .down{
            float: right;
            margin-right: 20px;
            text-decoration: none;
            color: brown;
        }

        span{
            padding-left: 15px;
        }
    }

    .body{
        display: block;

        .jScrollbar_mask{
            .centering();
            top: @title-bar + 5px;
            bottom: @footer-bar + 6px;
            text-align: center;
            background-color: @color4;
            overflow: hidden;
            position: absolute;
            border-radius: 1px 1px 15px 15px;

            > *{
                margin: 0;
                color: #FFF;
                font-size: 12px;
                padding: 0 15px;
            }

            h1{
                font-size: 1.5em;
                color: @color3;
                margin: 0;
                padding-top: 10px;
                overflow: auto;
                text-align: justify;
            }

            p{
                text-indent: 50px ;
                text-align: justify;
            }

            ul{
                list-style-position: inside;
            }

            li{
                list-style-position: outside;
                text-align: justify;
            }

            ul li:before{
                content: "# ";
            }

            ul li{
                list-style-type: none;

                p{
                    text-indent: 0px;
                    width: 400px;
                    margin-top: -20px;
                    margin-left: 20px;
                }
            }

            a{
                text-decoration: none;
            }
        }

        .jScrollbar_draggable{
            bottom: @footer-bar + 6px;
            float: right;
            width: 7%;
            overflow: hidden;
            background: none;

            a.draggable{
                position: absolute;
                top: @title-bar + 7px;
                background: transparent url('../images/bg_draggable4.png') no-repeat;
                display: block;
                height: 58px;
                width: 13px;
                cursor: s-resize;
            }
        }
    }
}
