#window {
    border-radius : 15px;

    .label{
        opacity : inherit;
        background : #D2B48C;
        z-index : 0 ;
        float : left;
        border : solid 1px none;
        border-radius :13px 13px 1px 1px;
        width : 99% ;
        font-weight : bold;
        color :#8B4513;
        padding-left : 15px;
    }
    .body{
        text-align : center;
        overflow : auto;
    }
}

